.loader {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3px;
    z-index: 1000000;
  }

  .loader .progress-bar {
    background: #d9534f;
    height: 3px;
    background-color: white;
    transition: all 0.25s;
  }

  .loader-animation-leave-active {
    transition: delay 1s;
  }
