@import url('https://fonts.googleapis.com/css?family=Prompt:200,200i,300,300i,400,400i,500,500i,600,600i,700,800,900');

$default-font: 'Prompt', sans-serif;

$purple: rgba(59,38,102, 1);  
$purple-opaque: rgba(59,38,102, .9);
$yellow: rgba(253,190,18, 1);
$purple-light: rgba(199,182,217,1);
$purple-medium: #a07ac7;


@mixin modalShadow() {
-webkit-box-shadow: 0px 1px 36px -2px rgba(0,0,0,0.67);
-moz-box-shadow: 0px 1px 36px -2px rgba(0,0,0,0.67);
box-shadow: 0px 1px 36px -2px rgba(0,0,0,0.67);
}

@mixin purpleGradient() {
	background: -webkit-linear-gradient(top left, #3a2565, #64317f);
	background: -moz-linear-gradient(top left, #3a2565, #64317f);
	background: linear-gradient(top left, #3a2565, #64317f);
}

@mixin yellowGradient() {
	background: -webkit-linear-gradient(top left, #fdbe12, #ffd726);
	background: -moz-linear-gradient(top left, #fdbe12, #ffd726);
	background: linear-gradient(top left, #fdbe12, #ffd726);
}


//Hamburger Overrides

$hamburger-padding-x           : 10px !default;
$hamburger-padding-y           : 10px !default;
$hamburger-layer-width         : 25px;
$hamburger-layer-height        : 3px ;
$hamburger-layer-spacing       : 7px !default;
$hamburger-layer-color         : white !default;
$hamburger-layer-border-radius : 3px;
$hamburger-hover-opacity       : 0.7 !default;
$hamburger-active-layer-color  : $hamburger-layer-color !default;
$hamburger-active-hover-opacity: $hamburger-hover-opacity !default;


//Bootstrap Overrides


//$white: #fff;
//$black: #000;
//$green: #00e389;
//$blue: #3399ff;
//$orange: #f26c22;
//$yellow: #ffd925;
//$red: #e5001e;

// Create grayscale
$gray-dark: #292b2c;
$gray: #3f3f3f;
$gray-light: #7e7e7e;
$gray-lighter: #ededed;
$gray-lightest: #fafafa;

// Set brand colors
//$primary: $blue;
//$secondary: $yellow;
//$success: $green;
//$info: $orange;
//$warning: $yellow;
//$danger: $red;

// Override button colors
//$btn-info-color: darken($info, 45);

// Override alert background colors
//$state-success-bg: lighten($success, 30);
//$state-info-bg: lighten($info, 30);
//$state-warning-bg: lighten($warning, 30);
//$state-danger-bg: lighten($danger, 45);

// Override alert text colors
//$state-success-text: darken($success, 30);
//$state-info-text: darken($info, 30);
//$state-warning-text: darken($warning, 30);
//$state-danger-text: darken($danger, 10);

// Override badges padding (doubled because otherwise too crammed)
//$badge-padding-x: 0.8em;
//$badge-padding-y: 0.4em;

// Don't make badges normal instead of bold
//$badge-font-weight: normal;

// Override fonts
$font-family-sans-serif: $default-font;
//$font-family-serif: Georgia, 'Times New Roman', Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, 'Liberation Mono',
  'Courier New', monospace;
$font-family-base: $font-family-sans-serif;

// Set global options
$enable-shadows: false;
$enable-gradients: false;


