<template>
<div>
  <div id="map-container">
	<mapbox  access-token="pk.eyJ1IjoiamZyYXVtZW4iLCJhIjoiY2psZmwzcDB4MHh1eTNwcnN3ZzV0cGU5aSJ9.wK_uueVHbpDrNuUp3d66lg" @map-load="mapLoaded" @map-dragstart="mapClicked" @map-click="mapClicked" :map-options=mapboxOptions >    </mapbox>	

<div id="story-overlay">
	<transition name="fade" mode="out-in">
    <router-view>
	</router-view>
	</transition>
</div>

	<transition name="loading" mode="out-in">
	<div class="loading" v-show="!mapIsLoaded">
	</div>
	</transition>

 </div>

	<transition name="loading" mode="out-in">
	<div class="splash-page" v-show="firstVisit">
  <b-container class="bv-example-row pt-4">
	  <b-row class="justify-content-md-center">
		<b-col class="col-lg-9">
<div id="welcome-wagon">
<h1 > Welcome </h1>
<p>
Welcome to Nonviolence Now, a global project to share and collect stories of nonviolence. Nonviolence means the use of peaceful means to create change at every level.  Around the world, nonviolence is on the rise: ending dictatorships, stopping civil wars, protecting the planet and more. We are collecting true stories - your stories - of nonviolence in action. Explore the map, discover true stories, and add your story of nonviolence!
</p>
		<b-button variant="warning" size="sm" @click="hideSplash">
			Explore the Map
			</b-button>
</div>
		</b-col>
	  </b-row>
	</b-container>
	</div>
	</transition>
</div>
</template>
<script>
import { mapGetters } from 'vuex'
import { LMap, LTileLayer, LMarker} from 'vue2-leaflet';
import mapboxgl from 'mapbox-gl';
import Mapbox from 'mapbox-gl-vue';

export default {
  name: 'example',
  components: {
	Mapbox,
  },

  props: ["limit"],
  
  computed: {
    ...mapGetters({
      recentPosts: 'recentPosts',
      recentPostsLoaded: 'recentPostsLoaded',
	  firstVisit: 'firstVisit',
    })
  },

  mounted() {
    this.$store.dispatch('getPosts', { limit: 100});
  },

  methods: {
	openStory: function(postSlug){
		
		this.$router.push("/stories/" + postSlug );
	},
	returnHome: function(){
		this.$router.push("/");
	},	
	
	hideSplash: function(){
	this.$store.dispatch('visited');
	},

	mapLoaded: function(map){
	
	  var mapboxFeatures = [];
  
	  map.addControl(new mapboxgl.AttributionControl({
        compact: true
    }));

	map.addControl(new mapboxgl.NavigationControl(), 'bottom-left');

	  for (let post of this.$store.getters.recentPosts(this.limit)) {
		console.log(post.id);
	  	mapboxFeatures.push({
              'type': 'Feature',
              'geometry': {
                'type': 'Point',
                'coordinates': [parseFloat(post.acf.map.lng), parseFloat(post.acf.map.lat)]
               },
              'properties': {
                'icon': 'marker',
				'slug': post.slug,
              }
	  	});
	  }

	  var geojson = {
		"type": "FeatureCollection",
		'features': mapboxFeatures
	  }
	var self = this;
	geojson.features.forEach(function(marker) {
		// create a DOM element for the marker
		var el = document.createElement('div');
		el.className = 'marker';
		el.style.display = 'block';
		el.style.backgroundImage = 'url(/wp-content/themes/nonviolence-now/dist/assets/peace.png)';
		el.style.width = '30px';
		el.style.height = '30px';
		el.style.backgroundSize = 'cover';
		el.style.cursor = 'pointer';
		el.style.borderRadius = '50%';
		el.addEventListener('click', function(e){
			self.openStory(marker.properties.slug);
			map.flyTo({center: marker.geometry.coordinates,
						zoom: 3,
						speed: 1,
						curve: 1,
						offset: [ -150, -150],
					});
			e.stopPropagation();
		});
		// add marker to map

		new mapboxgl.Marker(el)
			.setLngLat(marker.geometry.coordinates)
			.addTo(map);
	});

      map.addLayer({
        'id': 'stories',
        'type': 'symbol',
        'source': {
          'type': 'geojson',
          'data': {
            'type': 'FeatureCollection',
            'features': mapboxFeatures
         }
        },
      });

	  this.mapIsLoaded = true;
	},

	mapClicked: function(map, e){
		var features = map.queryRenderedFeatures(e.point, {
    		layers: ['stories'] // replace this with the name of the layer
  		});
		if (!features.length) {
			this.returnHome();
    		return;
  		}

  		var feature = features[0];
		this.openStory(feature.properties.slug)
		
	}
  },

  data() { return {
	mapboxOptions: {  
				style: 'mapbox://styles/jfraumen/cjlq1pp9d8oek2rlkb0fj73q2', 
				maxBounds: [[-180, -72], [180, 80]],						
				maxZoom: 4,
				attributionControl: false,
				logoPosition: 'bottom-left',
				   },
	mapIsLoaded: false,
	showSplash: false,
  }}
}
</script>

<style lang="scss">

.mapboxgl-ctrl-top-right{

	display: none;
}

.mapboxgl-ctrl-group {
	 .mapboxgl-ctrl-compass{
		display: none;
	}

	.mapboxgl-ctrl-icon{

	//	background-color: ;
	//	border-color: red;
	}
}

#map{

height: calc(100vh - 50px);
width: 100%;
touch-action: none;
}

#map-container{
position: relative;
}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.loading-enter-active,
.loading-leave-active {
  transition-duration: 0.6s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.loading-enter,
.loading-leave-active {
  opacity: 0
}
.loading{
	width: 100%;
	height: 100%;
	background-color: #4c2f7f;
	position: absolute;
	top: 0;
	background-image: url(/wp-content/themes/nonviolence-now/dist/assets/preloader.svg);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 100;
}

.splash-page{

	width: 100%;
	height: 100%;
	top: 0;
	position: fixed;
	background-color: #4c2f7f;
	z-index: 150;
	overflow: scroll;


	#welcome-wagon{
		margin-top: 25%;
		margin-bottom: 150px;
	}
}
</style>
