<template>
  <div class="widget recent-posts">
    <h3 class="recent-posts-header"><slot></slot></h3>
    <ul class="postsList" v-if="posts">
      <li class="stories" v-for="post in posts" :key="post.id">
        <router-link :to="'/stories/'+post.slug">{{ post.title.rendered }} <span class="location">{{ post.acf.location }}<span v-if="post.acf.date">, {{post.acf.date}}</span></span>  </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { api } from '../../api'


export default {
  props: ["limit", "category"],
  beforeMount() {
    this.getPosts()
  },
  data() {
    return {
      posts: [],
    }
  },

  methods: {
    getPosts: function() {
      axios.get(window.SETTINGS.API_BASE_PATH +'posts?per_page='+this.limit+'&categories='+ this.category)
      .then(response => {
        this.posts = response.data;
      })
      .catch(e => {
        console.log(e);
      })
    }
  },
}
</script>

<style lang="scss" scoped>
	.stories {
		margin-left: 0;
		margin-top: 15px;
		line-height: 180%;
		a {
			color: white;
			font-weight: 600;
			font-size: 1.8rem;
		}

		a:hover{
			text-decoration: none;
		}
	}
	.postsList{
		padding-left:0;
		text-decoration: none;	
		list-style-type: none;
		margin: 0;
		li{
			background: url('/wp-content/themes/nonviolence-now/dist/assets/nonviolence-list.png') no-repeat left top;
			background-size: 12px;
			background-position: 5px 10px;
		padding-left: 30px;
		}

	}
	.location{
		font-weight:300;
		display: block;
		font-size: 1.2rem;
	}
	.recent-posts{
		margin: 30px 0 50px;
	}
	
	.recent-posts-header{
		font-size: 1.4rem;
		font-weight: 300;
		margin: 25px 0;
	}

</style>
