<template>
<div class="page">
<transition name="fade" mode="out-in">
  <b-container :key="$route.path" class="bv-example-row pt-4">
    <template v-if="allCategoriesLoaded">
	  <b-row class="justify-content-md-center">
		<b-col class="col-lg-9">
      <h1 class="display-4 category-name" :key="categoryContent.name">{{ categoryContent.name }}</h1>
	  <p class="description" :key="categoryContent.description">
		{{ categoryContent.description }}
	  </p>
      	<recent-posts-widget limit="3" :key="categoryContent.id" :category="categoryContent.id">Stories of {{categoryContent.name}}</recent-posts-widget>
		</b-col>
		</b-row>	
    </template>
    <Loader v-else />
  </b-container>
	</transition>
</div>
</template>

<script>
import Loader from '../partials/Loader.vue'
import RecentPostsWidget from '../widgets/RecentPosts'
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      category: 'category',
      allCategoriesLoaded: 'allCategoriesLoaded'
    }),

    categoryContent() {
      return this.category(this.$route.params.categorySlug)
    }
  },

  components: {
    Loader,
	RecentPostsWidget
  }
}
</script>

<style lang="scss">
	.category-name{
		font-weight: 600;
		margin: 30px 0 20px 0;
	}
	
	.page{
		padding-top: 75px;
	}
</style>
