<template>
<div class="page">
<transition name="fade" mode="out-in">
  <b-container :key="$route.path" class="bv-example-row pt-4">
	  <b-row class="justify-content-md-center">
		<b-col class="col-lg-9">
	<template v-if="allPagesLoaded">
	  <h1 class="display-4" id="principlesName">{{ pageContent.title.rendered }}</h1>
	  <div class="page-content principles-content" v-html="pageContent.content.rendered"></div>
	  <b-container class="principle-links">
<b-row>
<b-col>
<router-link class="principle-link"   to="/principles/love">Love
<font-awesome-icon icon="heart" class="principle-icon"/>
</router-link>
</b-col>
<b-col>
<router-link class="principle-link" to="/principles/community">Community
<font-awesome-icon icon="hands-helping" class="principle-icon" />
</router-link>
</b-col>
</b-row>
<b-row>
<b-col>
<router-link  class="principle-link"  to="/principles/justice">Justice
<font-awesome-icon icon="gavel" class="principle-icon"/>
</router-link>
</b-col>
<b-col>
<router-link class="principle-link" to="/principles/courage">Courage
<font-awesome-icon icon="hand-rock" class="principle-icon" />
</router-link>
</b-col>
</b-row>
	  </b-container>
	</template>
		</b-col>
	</b-row>
  </b-container>
</transition>
<div class="banner-image">
	<img src="/wp-content/themes/nonviolence-now/dist/assets/peace_flag.png"> 
</div>

</div>
</template>

<font-awesome-icon icon="times" class="icon" id="close-story" /><script>
import Loader from '../partials/Loader.vue';
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      page: 'page',
      allPagesLoaded: 'allPagesLoaded'
    }),

    pageContent() {
      return this.page("principles")
    }
  },

  components: {
    Loader
  }
}
</script>

<style lang="scss">

@import '~@styles/_variables.scss';

	.page-content a{ text-decoration: underline;
		color: white;
	}
	
	.page-contenta:hover{
		color: white;
	}
	
	.page{
		margin-top: 25px;
	}

	#principlesName{
		font-weight: 600;
		margin: 30px 0 20px 0;
	}

	.principles-content p{
		font-size: 1.2em;
	}

	.banner-image{
		img{
			width: 100%;
			max-height: 600px;
			object-fit:cover;
		}
	}

	.principle-icon{
		color: $yellow;
	}

	.principle-link{
		font-size: 2em;
		font-weight: 500;
		padding: 10px 0;
		display: inline-block;
	}
	.principle-link:hover{
		text-decoration: none;
		color: white;
	}
	.principle-links{
		padding: 30px 0 50px 0;
	}
</style>

