<template>
  <div id="story-overlay">
  <b-container class="bv-example-row pt-4">
    <template v-if="post">
      <vue-headful :title="postContent.title.rendered"/>
      <h1 class="story-title" v-html="postContent.title.rendered"> </h1>
	  <h2 class="story-location" :key="postContent.acf.location" >{{ postContent.acf.location }}<span v-if="postContent.acf.date">, {{postContent.acf.date }} </span> </h2>
	  <img class="featured-image" v-if="postContent.better_featured_image" :src=postContent.better_featured_image.source_url />
	  <iframe v-else-if="postContent.acf.youtube_embed" class="featured-image" :src=postContent.acf.youtube_embed>
</iframe>
	  <div class="story-content" :key="postContent.content.rendered" v-html="postContent.content.rendered"></div>
  	  <b-button v-for="category_id in postContent.categories" :key="category_id" size="sm" :to="'/principles/'+categoryContent(category_id).slug" variant="warning" style="margin-right:5px;margin-top:5px;"> {{categoryContent(category_id).name.toLowerCase()}} </b-button> 
	  <div id="share-box">
		<a :href="'https://www.facebook.com/sharer/sharer.php?u=https://www.nonviolencenow.org' + $route.path" target="_blank">
	  <font-awesome-icon class="icon" :icon="{ prefix: 'fab', iconName: 'facebook-f' }" />
		</a>
		<a :href="'https://twitter.com/share?url=https://www.nonviolencenow.org' + $route.path" target="_blank">
	  <font-awesome-icon class="icon" :icon="{ prefix: 'fab', iconName: 'twitter' }" />
   		</a>
	 	</div>
	  <router-link to="/" id="close-story">
		<font-awesome-icon icon="times" class="icon" id="close-story" />
	  </router-link>
	</template>
  </b-container>
  </div>
</template>


<script>
import { mapGetters } from 'vuex';
import vueHeadful from 'vue-headful';

export default {
  computed: {
    ...mapGetters({
      post: 'post',
      recentPostsLoaded: 'recentPostsLoaded',
      category: 'category'
    }),

    postContent() {
      return this.post(this.$route.params.postSlug)
    },
	
  },

  methods:{
	categoryContent: function(cat_id){
	  return this.category(cat_id);
	}
  },

  components:{
	vueHeadful
}
}
</script>

<style lang="scss">

@import '~@styles/_variables.scss';

	#story-overlay{
		position: absolute;
		top: 0;
		background-color: $purple-opaque;
		height: 100%;
		width: 100%;
		overflow-y: scroll;
		z-index: 250;
		padding: 15px 0;
	}
	
	#close-story{
		position: absolute;
		top: 10px;
		right: 10px;
	}
	#story-overlay{
	.icon{
		color: rgba(255,255,255, .8);
		font-size: 25px;
	}
	}
	#share-box{
		float: right;
		
		a:hover{
			color: white;
		}		

		.icon{
			margin: 5px 5px;
			font-size: 1.5rem;
		}
	}

	.story-location{
		font-weight: 300;
		font-size: 1.5rem;
	}

	.story-title{
		font-weight: 600;
	}
	
	.story-content{
		margin-top: 20px;
	}

	.featured-image{
		width: 100%;
		min-height: 250px; 
		margin: 10px 0;
		border: none;
	}

@media (min-width: 768px) { 
	#story-overlay{
		position: absolute;
		top: 0;
		right: 0;
		background-color: $purple-opaque;
		height: 100%;
		width: 450px;
		overflow-y: scroll;
		padding: 15px;
	}
}
</style>
