
body{

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

.aligncenter, .alignright, .alignleft{
	img{
	display: block;
	max-width: 100%;
	height: auto;
	}
	max-width: 100%;
}

.alignright{
	float: right;
}

.alignleft{
	float: left;
}

.aligncenter{
	margin: auto;
}

img.alignright {float:right; margin:0 0 1em 1em; max-width: 100%; height: auto;}
img.alignleft {float:left; margin:0 1em 1em 0; max-width: 100%; height: auto;}
img.aligncenter {display: block; margin-left: auto; margin-right: auto; max-width: 100%; height: auto;}
a img.alignright {float:right; margin:0 0 1em 1em; max-width: 100%; height: auto;}
a img.alignleft {float:left; margin:0 1em 1em 0; max-width: 100%; height: auto;}
a img.aligncenter {display: block; margin-left: auto; margin-right: auto; max-width: 100%; height: auto;}



.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.2s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.page-wrapper {
    min-height: 100vh;
	background-color: $purple;
	@include purpleGradient();
	color: $white;
	position: relative;
}

$scrollbar-width: 5px;
$scrollbar-padding: 15px;

::-webkit-scrollbar {
    width: 7px;
	background-color: $purple;
}

/* Track */
::-webkit-scrollbar-track {
background-color: $purple;
//border: 2px solid rgba(255,255,255,0);
	background-clip: padding-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
background-color: $purple-light;
	border-radius: 4px;
	//border: 2px solid rgba(255,255,255,0);
	background-clip: padding-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

background-color: $purple-medium;
}




button:focus {
	outline:0;
}

.page-content-wrapper {
    flex: 1;
}

.widget {
    ul {
        margin-left: 2rem;
    }
}

.page{
	//padding-bottom: 150px;
}

a{
	color: white;
}

html {
  font-size: .8rem;
}

p{
	font-size: 1.1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}
