<template>
    <footer class="footer notranslate">
		<div id="google_translate_element"></div>
   		<translate> </translate>
    </footer>
</template>


<script>
	import Translate from './Translate.vue';
export default {

    mounted: function()
    {
        this.$nextTick(() => {
            this.googleTranslateInit();
        });

    },

    methods: {

        googleTranslateInit: function() {

            let checkIfGoogleLoaded = setInterval(() => {

                if (google.translate.TranslateElement != null) {
                    clearInterval(checkIfGoogleLoaded);

                    this.googleTranslateElement('google_translate_element');
                }

            }, 100);

        },

        googleTranslateElement: function(id) {
            new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, id);
        }

    },

	components: {
		Translate
	},
};
</script>

<style lang="scss">
body {
    top: 0px !important; 
    }

#google_translate_element{
		display: none;
	}
.goog-te-banner-frame.skiptranslate {
    display: none !important;
    } 

.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}

footer{
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 8px 45px;
	display: none;
}

@media (min-width: 568px) { 
	footer{
		display: block;
	}
}
</style>
