<template>
<b-navbar id="navbar" toggleable="lg" type="dark">

<router-link id="banner-logo" to="/">
<img src="/wp-content/themes/nonviolence-now/dist/assets/logo.svg">	
</router-link>
<b-navbar-nav id="m" v-if="allCategoriesLoaded" class="d-none d-lg-flex" style="margin-left:30px">
    <b-nav-item v-for="category in allCategories" :key="category.slug" v-on:click="categoryNavigate(category.slug)">{{category.name}}</b-nav-item>
</b-navbar-nav>
<b-navbar-nav  id="button-nav" class="ml-auto d-none d-lg-flex">
	<b-button variant="outline-warning" size="sm" style="margin-right:10px" :to="'/resources/'" > Learn More </b-button>
	<b-button variant="outline-warning" size="sm" style="margin-right:10px" :to="'/participate/'" > Participate </b-button>
	<b-button variant="warning" size="sm" v-on:click="shareStory"> Share Your Story</b-button>

</b-navbar-nav>
<button id="mobile-overlay-button"  v-on:click="overlayToggle" class="d-flex d-lg-none hamburger hamburger--boring" v-bind:class="{ 'is-active': overlayActive }" type="button">
         <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
</button>

<transition name="fade" mode="out-in">
<div id="menu-overlay" class="d-lg-none" v-if="overlayActive">
	<div id="mobile-menu">
	<ul id="principals">
		<li v-for="category in allCategories" :key="category.slug" v-on:click="categoryNavigate(category.slug)">{{category.name}}</li>
	</ul>
	<ul>
		<li><router-link to="/resources/">Learn More</router-link></li>
		<li><router-link to="/participate/">Participate</router-link></li>
		<li><router-link to="/share-your-story/">Share Your Story</router-link></li>
	</ul>
	</div>
	<translate> </translate>
</div>
</transition>
</b-navbar>
</template>

<script>
import Loader from '../partials/Loader.vue'
import Translate from './Translate.vue'
import RecentPostsWidget from '../widgets/RecentPosts'
import { mapGetters } from 'vuex'
import EventBus from '../../event-bus.js'

export default {
  computed: {
    ...mapGetters({
      allCategories: 'allCategories',
      allCategoriesLoaded: 'allCategoriesLoaded'
    }),
  },

  watch:{
	'$route' () {
		this.overlayActive = false;
	}
  },

  components: {
    Loader,
	RecentPostsWidget,
	Translate
  },

  methods: {
	categoryNavigate: function(slug){
		this.$router.push("/principles/" + slug );
	},

	overlayToggle: function(){
		this.overlayActive = !this.overlayActive;
	},

	shareStory: function(){
		if(this.$route.path == "/" && this.glSupported){
			EventBus.$emit('shareStoryClicked');
		}else{
			this.$router.push("/share-your-story/");
		}
	}
  },

  data(){
	return {
		overlayActive: false,
	}
  },

	props: ['glSupported'],
}
</script>

<style lang="scss">
		
@import '~@styles/_variables.scss';

.logo{
	margin-bottom: 10px;
}


#mobile-overlay-button{
	z-index: 320;
}

#banner-logo{

z-index: 320;
	img{
		height: 50px;
	}
}	

#menu-overlay{
position: absolute;
top: 0;
left: 0;
min-height: 100vh;
width: 100%;
z-index: 300;
background-color: $purple-opaque;

	.translate{

	position: absolute;
	bottom: 0;
	right: 0;
	margin: 15px 15px;
	}


}

#mobile-menu{

padding: 15px;
margin-top: 75px;
	ul{
		padding: 0;
		font-weight: 400;
		font-size: 1.5rem;			
		li{
			list-style: none;
			a{
				color: white;
			}
	
			a:hover{
				text-decoration: none;
			}
		}
	}

	#principals{

		font-weight: 600;
		font-size: 2.3rem;			
	}

}

#button-nav{
	padding: 0 10px;
	z-index:200;
}


	#navbar {
		padding: 0;
		position: absolute;
		width: 100%;
		
	}
.navbar-nav{

	z-index: 200;
}
</style>
