<template>
	<div class="modal-background">

	<div class="modal-window">

		<slot name="header"></slot>
     
	  <slot> </slot>	

		<slot name="footer"></slot>
	</div>
</div>
</template>

<script>

</script>

<style lang="scss">
@import '~@styles/_variables.scss';

.modal-background{

		position: fixed;
  		top: 0;
  		left: 0;
		width: 100%;
		height: 100%;
		padding: 20px;
		z-index: 100;
}

.modal-window{

		max-width: 650px;
		min-height: 260px;
		max-height: calc(100vh - 170px);
		overflow-y: scroll;
		background-color: $purple;
		padding: 20px 30px;
		border-radius: 6px;
		margin: 50px auto; 
		@include modalShadow();
}



</style>
