
<template>

<modal>
	<template slot="header">
	  <h1>
		Share Your Story
		</h1>
	</template>
<p>Have you or someone you know used nonviolence?</p>
<p>
By sharing how you or your community use nonviolence, you can help inspire others to do the same. All you need to do is send us a 3-4 sentence description of the action, including where and when it took place.
</p>
<p>
Don't worry, we won't share your email. Our team will only use it if we have questions about your story.
</p>

<b-form @submit="onSubmit" @reset="onReset">
      <b-form-group id="exampleInputGroup1"
                    label="Email address:"
                    label-for="exampleInput1">

        <b-form-input id="exampleInput1"
                      type="email"
                      v-model="form.email"
                      required
                      placeholder="Enter your email">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup2"
                    label="Location"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="text"
                      v-model="form.location"
                      required
                      placeholder="Enter the location of your story">
        </b-form-input>
      </b-form-group>
      
		<b-form-group id="exampleInputGroup2"
                    label="Date"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="text"
                      v-model="form.date"
                      placeholder="Enter the date of your story">
        </b-form-input>
      </b-form-group>

      <b-form-group id="exampleInputGroup3"
                    label="Description"
                    label-for="exampleInput3">

	  <b-form-textarea id="textarea1"
                     placeholder="Describe the nonviolent action (1000 characters)"
                     :rows="3"
                     :max-rows="6"
					 required
					maxlength="1000"
					 v-model="form.description">
      </b-form-textarea>

      </b-form-group>
      <b-form-group id="exampleGroup4">
      </b-form-group>
      <b-button variant="outline-warning" v-on:click="$emit('close')">Cancel</b-button>
      <b-button type="submit" variant="warning">Share</b-button>
    </b-form>

</modal>
</template>

<script>

import api from '../../api';
import Loader from '../partials/Loader.vue';
import { mapGetters } from 'vuex';
import Modal from '../partials/Modal.vue';

export default {

  data () {
    return {
      form: {
        email: '',
        location: '',
        description: null,
		date: '',
      },
	  formSubmit: false,
    }
  },

  components: {
	Modal
  },

  methods: {
    onSubmit (evt) {
      evt.preventDefault();
	  api.submitStory(this.form);
	  this.formSubmit = true;
	  event.target.reset();
	  this.$emit('thanks');
    },

    onReset (evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.email = '';
      this.form.location = '';
      this.form.description = null;
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true });
    }
  }
}

</script>
