<template>
	<div class="splash-page">
  		<b-container class="bv-example-row pt-4">
	  		<b-row class="justify-content-md-center">
			<b-col class="col-lg-9">
				<div id="welcome-wagon">
					<h1> Violence is an epidemic. What if there was a cure?</h1>
						<p>
							Welcome to Nonviolence Now, a global project to share and collect stories of nonviolence. <b>Nonviolence is the use of peaceful means to create change.</b> Around the world, nonviolence is on the rise: ending dictatorships, stopping civil wars and protecting the planet. We are collecting true stories — your stories — of nonviolence in action. Explore the map, discover true stories, and add your story of nonviolence.
						</p>
						<b-button variant="warning" size="sm" v-on:click="$emit('close')">Explore the Map</b-button>
				</div>
			</b-col>
	  		</b-row>
		</b-container>
	</div>
</template>

<script>

</script>


<style lang="scss">

@import '~@styles/_variables.scss';

.splash-page{

	width: 100%;
	top: 0;
	min-height: 100%;
	position: absolute;
	@include purpleGradient();
	z-index: 150;

	#welcome-wagon{
		h1{
			font-weight: 700;
		}
		margin-top: 25%;
		margin-bottom: 150px;
	}
}

</style>
