
<template>
<div class="translate notranslate">

		<span v-on:click="changeLanguage('ar')" >عربى</span>
		<span v-on:click="changeLanguage('sw')" >Kiswahili</span>
		<span v-on:click="changeLanguage('es')" >Español</span>
		<span  v-on:click="changeLanguage('en')">English</span>
		<span v-on:click="changeLanguage('fr')">Français</span>
		<span v-on:click="changeLanguage('zh-CN')">漢語</span>
		<span v-on:click="changeLanguage('pt')">Portuguès</span>
		<span v-on:click="changeLanguage('vi')">Việt</span>
		<span class="footer-pages"> <router-link to="/media">Media </router-link> 
		</span>
			
		<a href="https://www.facebook.com/Nonviolence-Now-1876328909155036/?modal=admin_todo_tour" target="_blank">
	  <font-awesome-icon class="icon" :icon="{ prefix: 'fab', iconName: 'facebook-f' }" />
		</a>
		<a href="https://www.instagram.com/nonviolencenow/" target="_blank">
	  <font-awesome-icon class="icon" :icon="{ prefix: 'fab', iconName: 'instagram' }" />
		</a>
		<a href="https://twitter.com/nonviolence_now" target="_blank">
	  <font-awesome-icon class="icon" :icon="{ prefix: 'fab', iconName: 'twitter' }" />
		</a>
		

</div>
</template>

<script>
export default {
methods:{

changeLanguage: function (language) {
    // get the origin of the url and define the language
    var host = window.location.origin;
    //make sure the language is defined before this line
	console.log(window.location.hostname);
	console.log(window.location.pathname);
    window.location.replace("#googtrans(en|" + language + ")" );
	window.location.reload();
}
}
};
</script>

<style lang="scss">

.goog-tooltip {
    display: none !important;
}
.goog-tooltip:hover {
    display: none !important;
}
.goog-text-highlight {
    background-color: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}

.translate span, .translate a {
	color: white;
	font-weight: 400;
	display: inline-block;
	margin: 5px 5px;
	font-size: .7rem;
}

.translate{
	font-size: .7rem;
}

.translate .footer-pages a{
	font-weight: 700;
}

.translate span:hover{
	color: white;
	text-decoration: underline;
	cursor: pointer;
}

.translate a{
	text-decoration: none;
}

</style>
