
<template>
<div>
 <vue-headful title="Nonviolence Now"/>
<transition name="fade" mode="out-in" key="map">

  <div key="map" id="map-container" v-bind:class="{ 'placing-story-marker': isPlacingStoryMarker&&!isTouchDevice }">
	<mapbox v-if="mapboxGLSupported" access-token="pk.eyJ1IjoiamZyYXVtZW4iLCJhIjoiY2psZmwzcDB4MHh1eTNwcnN3ZzV0cGU5aSJ9.wK_uueVHbpDrNuUp3d66lg" @map-load="mapLoaded" @map-dragstart="mapClicked" @map-click="mapClicked" :map-options="mapboxOptions" :nav-control="navControl">    </mapbox>	
    <div id="fallback-map" v-else></div>	
	<div class="toggle-splash" v-on:click="toggleSplash">
		?
	</div>
	<b-button variant="warning" size="sm" v-if="glSupported"class="mobile-share-button" v-on:click="showInstructionsModal = true"> Share Your Story</b-button>
	<img v-show="isTouchDevice&&isPlacingStoryMarker" class="mobile-center-placer" src="/wp-content/themes/nonviolence-now/dist/assets/user-cursor.svg">
	<transition name="modal" mode="out-in">

	<modal class="instruction-modal" v-if="showInstructionsModal">

	<template slot="header">
		<h1 class="share-modal-header">Share</h1> 
<img class="instruction-gif" src="/wp-content/themes/nonviolence-now/dist/assets/instruction.gif">
	</template>
<p>
	Click or tap the map to mark the location of your nonviolence story.
</p>

	<template slot="footer">
      	<b-button variant="outline-warning" v-on:click="showInstructionsModal = false">Cancel</b-button>
      	<b-button variant="warning" v-on:click="triggerShare">Place</b-button>
	</template>
	</modal>

	<share-modal v-if="showShareModal" @close="cancelShare" @thanks="triggerThanks"></share-modal>



	<modal v-if="showThanksModal">
	<template slot="header">
		<h1>Thank You</h1>
	</template>
<p>
Thank you for contributing to Nonviolence Now. We will notify you when your story is available to share.
</p>
	<template slot="footer">
      	<b-button variant="warning" v-on:click="showThanksModal = false">Return</b-button>
	</template>
	</modal>
	</transition>

	<!--div class="key">
		<div class="key-column">
		<img src="/wp-content/themes/nonviolence-now/dist/assets/user.svg">
			<div class="key-text">
				Your stories
			</div>
		</div>
		
		<div class="key-column">
		<img src="/wp-content/themes/nonviolence-now/dist/assets/peace.svg">		
			<div class="key-text">
				Nonviolence milestones 
			</div>
		</div>
	</div-->	

	<transition name="fade" mode="out-in">
    <router-view>
	</router-view>
	</transition>
	<transition name="loading" mode="out-in">
	<div class="loading" v-show="!mapIsLoaded">
	</div>
	</transition>
 </div>
	</transition>

 <transition name="fade" mode="out-in">
	<splash @close="splashToggled = false" v-if="firstVisit||splashToggled"></splash>
 </transition> 

	<!-- b-button variant="outline-warning" size="sm" style="margin-right:10px" v-on:click="triggerInstructions" > Trigger Story </b-button -->
</div>

</template>

<script>
import { mapGetters } from 'vuex'
import mapboxgl from 'mapbox-gl';
import mapbox from 'mapbox.js';
import Mapbox from 'mapbox-gl-vue';
import vueHeadful from 'vue-headful';
import Modal from './partials/Modal.vue';
import ShareModal from './partials/ShareModal.vue';
import Splash from './partials/Splash.vue';
import EventBus from '../event-bus';

export default {
  name: 'example',
  components: {
	Mapbox,
	vueHeadful,
	Modal,
	ShareModal,
	Splash,
  },

  props: ["limit", "glSupported"],
  
  computed: {
    ...mapGetters({
      recentPosts: 'recentPosts',
      recentPostsLoaded: 'recentPostsLoaded',
    })
  },

  watch: {
	recentPostsLoaded () {
		if(!this.mapboxGLSupported){
			this.loadFallbackMap();
		}
	}
  },

  created() {
    this.$store.dispatch('getPosts', { limit: 100});
  },
  mounted() {
	if ("ontouchstart" in document.documentElement){
		this.isTouchDevice = true;
	}else{
		this.isTouchDevice = false;
	}

	this.mapboxGLSupported = mapboxgl.supported();

	if(!this.mapboxGLSupported){
		this.loadFallbackMap();
	}

	var that = this;
    EventBus.$on("shareStoryClicked", function (payLoad) {
    	that.triggerInstructions();
    });
  },


  data() { return {
	mapboxOptions: {  
		style: 'mapbox://styles/jfraumen/cjlq1pp9d8oek2rlkb0fj73q2', 
		maxBounds: [[-180, -72], [180, 80]],						
		maxZoom: 4,
		attributionControl: false,
		logoPosition: 'bottom-left',
	},
	navControl: {
		show: true,
		position: 'top-left',
	},
	isTouchDevice: false,
	mapIsLoaded: false,
	splashToggled: false,
	mapboxGLSupported: false,
	isPlacingStoryMarker: false,
	firstVisit: false,
	showShareModal: false,
	showThanksModal: false,
	showInstructionsModal: false,
	lastMarkerPlaced: null,
	map: null,
  }},


  methods: {
	openStory: function(postSlug){
		
		this.$router.push("/stories/" + postSlug );
	},
	returnHome: function(){
		this.$router.push("/");
	},	
	
	hideSplash: function(){
		this.$store.dispatch('visited');
		this.splashToggled = false;
	},

	toggleSplash:  function(){
		this.splashToggled = !this.splashToggled;
	},


   triggerShare: function(){
		this.showInstructionsModal = false;		
   		this.isPlacingStoryMarker = true;
   },

   triggerInstructions: function(){
		if(!(this.isPlacingStoryMarker || this.showThanksModal)){
			this.showInstructionsModal = true;
		}
	},

   cancelShare: function(){
		if(this.lastMarkerPlaced != null){
			this.lastMarkerPlaced.style.visibility = "hidden";		
		}
		
		this.showShareModal = false;
   },

	triggerThanks: function(){
		this.showShareModal = false;
		this.showThanksModal = true;
	},

   placeStoryMarker: function(latLong, map){
   	
		var el = document.createElement('div');
		el.className = 'marker-user';
		
		var marker = new mapboxgl.Marker(el);
		marker.setLngLat(latLong).addTo(map);

		this.lastMarkerPlaced = el;		
		this.showShareModal = true;
		this.isPlacingStoryMarker = false;
   },

	fetchFeatures: function(){
	  
		var mapboxFeatures = [];

	  for (let post of this.$store.getters.recentPosts(this.limit)) {

		var marker = 'marker';
		if(post.acf.user_story){
			marker = 'marker-user';
		}

	  	mapboxFeatures.push({
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: [parseFloat(post.acf.map.lng), parseFloat(post.acf.map.lat)]
               },
              properties: {
			    icon: {
        			className: marker, // class name to style
        			iconSize: null, // size of icon, use null to set the size in CSS
					iconAnchor: [15, 15],
      			},
				slug: post.slug,
              }
	  	});
	  }
		console.log(mapboxFeatures);
		return mapboxFeatures;
	},

	loadFallbackMap: function(){

		L.mapbox.accessToken = 'pk.eyJ1IjoiamZyYXVtZW4iLCJhIjoiY2psZmwzcDB4MHh1eTNwcnN3ZzV0cGU5aSJ9.wK_uueVHbpDrNuUp3d66lg';
		var map = L.mapbox.map('fallback-map',null ,{zoom: 2, center:[0,0], zoomControl: true, maxZoom: 4, minZoom: 1, attributionControl: {compact: true} });
		var styleLayer = L.mapbox.styleLayer('mapbox://styles/jfraumen/cjlq1pp9d8oek2rlkb0fj73q2').addTo(map);
		var featureLayer = L.mapbox.featureLayer().addTo(map);
		var self = this;
		featureLayer.on("layeradd", function(e) {
		  var marker = e.layer,
		  feature = marker.feature;
		  marker.setIcon(L.divIcon(feature.properties.icon));
		});

		featureLayer.setGeoJSON(this.fetchFeatures());

		featureLayer.on('click',function(e) {

    		var feature = e.layer.feature;
			self.openStory(feature.properties.slug);

	  });
	  
	  map.on('click', function(e) {
		self.returnHome();
	  });
	  this.mapIsLoaded = true;

	},

	mapLoaded: function(map){


	  map.addControl(new mapboxgl.AttributionControl({
        compact: true
    }));
	
	var mapboxFeatures = this.fetchFeatures();

	var geojson = {
		"type": "FeatureCollection",
		"features": mapboxFeatures
	}

	var self = this;
	geojson.features.forEach(function(marker) {
		// create a DOM element for the marker
		var el = document.createElement('div');
		el.className = marker.properties.icon.className;
		el.addEventListener('click', function(e){
			self.openStory(marker.properties.slug);
			map.flyTo({center: marker.geometry.coordinates,
						zoom: 3,
						speed: 1,
						curve: 1,
						offset: [ -150, -150],
					});
			e.stopPropagation();
		});

		new mapboxgl.Marker(el)
			.setLngLat(marker.geometry.coordinates)
			.addTo(map);
	});

      map.addLayer({
        'id': 'stories',
        'type': 'symbol',
        'source': {
          'type': 'geojson',
          'data': {
            'type': 'FeatureCollection',
            'features': mapboxFeatures
         }
        },
      });

	  this.mapIsLoaded = true;
	},

	mapClicked: function(map, e){
	
		if(e.type == "click" && this.isPlacingStoryMarker){
			if(this.isTouchDevice){
				this.placeStoryMarker(map.getCenter(), map);
			}else{
				this.placeStoryMarker(e.lngLat, map);
			}
		}		

		var features = map.queryRenderedFeatures(e.point, {
    		layers: ['stories'] // replace this with the name of the layer
  		});
		if (!features.length) {
			this.returnHome();
    		return;
  		}

  		var feature = features[0];
		this.openStory(feature.properties.slug)
		
	},
  },

}
</script>

<style lang="scss">
@import '~@styles/_variables.scss';


.mapboxgl-ctrl-top-right{

	display: none;
}

.mapboxgl-ctrl-top-left{
	top: 50px;
}

.mapboxgl-ctrl-group {
	 .mapboxgl-ctrl-compass{
		display: none;
	}

	.mapboxgl-ctrl-icon{

		background-color: $purple-light;
		border-color: $purple;
	}
}

#map{

	height: 100vh;
	width: 100%;
	background-color: $purple;
}


.placing-story-marker{

	.mapboxgl-canvas{
		cursor: url('/wp-content/themes/nonviolence-now/dist/assets/user-icon-add.svg') 12 12, auto !important;
	}
}

.mobile-share-button{
	position: absolute;
	right: 10px;
	bottom: 65px;
}

.mobile-center-placer{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.image-button{
	display: inline-block;
	position: relative;
	margin: 20px 0;
	img{
		width: 100%;
		object-fit: cover;
	}

	h3{
		position: absolute;
		bottom: 0;		
		padding: 15px;
		font-weight: 700;
		font-size: 1.5em;
	}
}

.instruction-gif{
	margin: auto;
	display: block;
	max-width: 100%;
	margin: 15px 0;
}

@media (min-width: 992px) { 
.mobile-share-button{
	display: none;
}
}
@media (min-width: 668px) { 


.instruction-modal{
	.modal-window{
	position: relative;
	padding-right: 370px;
  .instruction-gif {
	position: absolute;
	right: 20px;
	top: 10px;
	width: 320px;
  }}
}
}

.image
.image-button:hover{
		color: white;
		h3{
			color: white;
		}
}

.splash-button{
	img{
		width: 300px;
		height: 200px;
	}	
}

#fallback-map * {
	z-index: 0;
}

#fallback-map {

	height: calc(100vh - 50px);
	width: 100%;
	background-color: $purple;

}

#map-container{
position: relative;
}

.loading-enter-active,
.loading-leave-active {
  transition-duration: 0.6s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.leaflet-control a, .leaflet-disabled{
			background-color: $purple-light;
		border-color: $purple;
	background-image: none;
}


.loading-enter,
.loading-leave-active {
  opacity: 0
}
.loading{
	width: 100%;
	height: 100%;
	background-color: $purple;
	position: absolute;
	top: 0;
	background-image: url(/wp-content/themes/nonviolence-now/dist/assets/preloader.svg);
	background-repeat: no-repeat;
	background-position: center;
	z-index: 100;
}

.marker{
		display: block;
		background-image: url(/wp-content/themes/nonviolence-now/dist/assets/peace.svg);
		width: 25px;
		height: 25px;
		background-size: cover;
		cursor: pointer;
		border-radius: 50%;
}

.marker-user{
		display: block;
		background-image: url(/wp-content/themes/nonviolence-now/dist/assets/peace.svg);
		width: 25px;
		height: 25px;
		background-size: cover;
		cursor: pointer;
		border-radius: 50%;
}


.toggle-splash{
	display: inline-block;
	position: absolute;
	top: 130px;
	left: 10px;
	width: 30px;
	height: 30px;
	background-color: $purple-light;
	color: black;
	font-size: 20px;
	font-weight: 500;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
	--webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.toggle-splash:hover{
	background-color: white;
	cursor: pointer;
	
}


.key{
	position: absolute;
	bottom: 40px;
	left: 10px;
	background-color: $purple-opaque;
	padding: 7px;
	border-radius: 4px;
	.key-column{
		clear: both;
		.key-text{
			font-size: .8rem;
			display: inline-block;
		}

		img{
			height: 17px;
			float: left;
			margin:5px 5px 5px 0;
		}

	}

}

.modal-enter-active,
.modal-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.modal-enter,
.modal-leave-active {
  opacity: 0
}

</style>




<!--
<b-container>
<b-row>
<b-col>
						<a class="image-button splash-button" href="#" @click="hideSplash"><img src="/wp-content/themes/nonviolence-now/dist/assets/map.png"><h3>Explore the Map</h3></a>
</b-col>
<b-col>
						<router-link class="image-button splash-button" to="principles"><img src="/wp-content/themes/nonviolence-now/dist/assets/peace_flag.png"><h3>Learn the Principles</h3></router-link>
</b-col>
</b-row>
</b-container>
-->

