<template>
<div class="page">
<!--	<div class="section" id="intro">
  		<b-container class="bv-example-row pt-4">
	  		<b-row class="justify-content-md-center">
			<b-col class="col-lg-9">
		
	 <section v-scroll-reveal>
		<h1> 
			Violence is an epidemic. What if there was a cure?
		</h1>
	</section>
	 <section v-scroll-reveal={delay:2000}>
		<h1> 
			Violence is an epidemic. What if there was a cure?
		</h1>
	 </section>
					<p>
							Welcome to Nonviolence Now, a global project to share and collect stories of nonviolence. <b>Nonviolence is the use of peaceful means to create change.</b> Around the world, nonviolence is on the rise: ending dictatorships, stopping civil wars and protecting the planet. We are collecting true stories — your stories — of nonviolence in action. Explore the map, discover true stories, and add your story of nonviolence.
						</p>
		</b-col>
		</b-row>
		</b-container>
	</div>

	<div class="section" id="principles">
  		<b-container class="bv-example-row pt-4">
	  		<b-row class="justify-content-md-center">
			<b-col class="col-lg-9">
	 <section v-scroll-reveal>
		<h2> Principles of Nonviolence
		</h2>
	 </section>


						<p>
Community is people working together toward a common goal - and in nonviolence, that’s powerful! Nonviolence works through the participation of people of all ages. In nonviolence, we organize our community to refuse to cooperate with injustice. Instead, we engage community in participating in the solution and alternatives.

						</p>
<b-row>
<b-col>
<font-awesome-icon icon="heart" class="principle-icon"/>
</b-col>
<b-col>
<font-awesome-icon icon="hands-helping" class="principle-icon" />
</b-col>
</b-row>
<b-row>
<b-col>
<font-awesome-icon icon="gavel" class="principle-icon"/>
</b-col>
<b-col>
<font-awesome-icon icon="hand-rock" class="principle-icon" />
</b-col>
</b-row>

		</b-col>
		</b-row>
		</b-container>
	</div>

	<div class="section" id="ending">
  		<b-container class="bv-example-row pt-4">
	  		<b-row class="justify-content-md-center">
			<b-col class="col-lg-9">
		
	 <section v-scroll-reveal>
		<h1> 
			Violence is an epidemic. What if there was a cure?
		</h1>
	</section>
					<p>
							Welcome to Nonviolence Now, a global project to share and collect stories of nonviolence. <b>Nonviolence is the use of peaceful means to create change.</b> Around the world, nonviolence is on the rise: ending dictatorships, stopping civil wars and protecting the planet. We are collecting true stories — your stories — of nonviolence in action. Explore the map, discover true stories, and add your story of nonviolence.
						</p>
		</b-col>
		</b-row>
		</b-container>
	</div>


	<div class="image-section" id="map-section">

		<h2> 
			Victory Map
		</h2>
		<p>
			We're tracking inspiring stories of successful nonviolence in action happening now.
		</p>
	<b-button variant="warning">Be the change</b-button>

	</div>

	<div class="image-section" id="map-section">

		<h2> 
			Victory Map
		</h2>
		<p>
			We're tracking inspiring stories of successful nonviolence in action happening now.
		</p>
	<b-button variant="warning">Be the change</b-button>

	</div>-->
	<!--<div class="image-section" id="news-section">


	</div>
-->


<div>
    <full-page ref="fullpage" :options="options" id="fullpage">
    <div class="section">
  		<b-container class="bv-example-row pt-4">
	  		<b-row class="justify-content-md-center">
			<b-col class="col-lg-9">
		<h1> 
			Violence is an epidemic. What if there was a cure?
		</h1>
	</b-col>
	</b-row>
	</b-container>

    </div>
    <div class="section">
  		<b-container class="bv-example-row pt-4">
	  		<b-row class="justify-content-md-center">
			<b-col class="col-lg-9">
		<h1> 
			Nonviolence is the use of peaceful means to create change.
		</h1>
					<p>
					Around the world, people are using nonviolence to do everything from breaking up fights to toppling dictators. Nonviolence offers us hundreds of tools - boycotts, strikes, restorative justice, conflict resolution, and more - to make change and deal with conflict. From the personal to the political, <b>nonviolence gives a way to end violence without causing more violence.</b> 
						</p>
	</b-col>
	</b-row>
	</b-container>

    </div>
    <div class="section" id="principles">
  		<b-container class="bv-example-row pt-4">
	  		<b-row class="justify-content-md-center">
			<b-col class="col-lg-9">
		<h3> Nonviolence is shaped by <span class="underline">principles</span> that guide our actions as we work for change. 		</h3>
<b-row>
<b-col class="col-12 col-sm-6">
<h4 class="principle-head"><font-awesome-icon icon="heart" class="principle-icon"/>  Love </h4>
<p>
From small acts of kindness to mass movements for change, nonviolence moves our care for other people into action.
</p>
</b-col>
<b-col class="col-12 col-sm-6">
<h4 class="principle-head"><font-awesome-icon icon="hands-helping" class="principle-icon" /> Community</h4>
<p>
Nonviolence helps us organize our community to refuse to cooperate with injustice. It gives us ways to engage our community in solutions and alternatives.
</p>
</b-col>
</b-row>
<b-row>
<b-col class="col-12 col-sm-6">
<h4 class="principle-head"><font-awesome-icon icon="gavel" class="principle-icon"/> Justice</h4>
<p>
Nonviolence offers practical and effective tools to achieve justice in a way that breaks the cycle of violence.
</p>
</b-col>
<b-col class="col-sm-6 col-12">
<h4 class="principle-head"><font-awesome-icon icon="hand-rock" class="principle-icon" /> Courage</h4>
<p>
It takes courage to stand up for peace and justice. Nonviolence unleashes that courage within us. 
</p>
</p>
</b-col>
</b-row>
	</b-col>
	</b-row>
	</b-container>
    </div>
	<div class="section" id="third">
	<div class="image-section" id="actioncall">

  		<b-container class="bv-example-row pt-4">
	  		<b-row class="justify-content-md-center">
			<b-col class="col-lg-9">
		<h1>Take action</h1>

		<h2>
			Stand up <span>for global and community justice movements</span>
		</h2>
		<h2>
			Follow us<span> at @nonviolencenow </span>
		</h2>
		<h2>
			Sign up <span>for our partner email list Nonviolence News</span>
		</h2>
	</b-col>
	</b-row>
	</b-container>
	</div>

	<div class="image-section" id="map-section">

  		<b-container class="bv-example-row pt-4">
	  		<b-row class="justify-content-md-center">
			<b-col class="col-lg-9">
		<h2> 
			Victory Map
		</h2>
		<p>
			We're tracking inspiring stories of successful nonviolence in action happening now.
		</p>
	<b-button variant="warning" size="sm">See the map</b-button>
	</b-col>
	</b-row>
	</b-container>
	</div>
	</div>
  </full-page>
</div>










</div>
</template>

<script>

export default {
  computed: {

  },

  data(){
	return {
		options: {
        anchors: ['page1', 'page2', 'page3', 'page4'],
      },
	}
  },

  components: {
  }
}
</script>

<style lang="scss">
@import '~@styles/_variables.scss';
	.page-wrapper{
	}

	#fullpage{
		@include yellowGradient();
	}	

	h1, h2, h3{
		font-weight: 800;
	}
	h1{
		font-size: 3rem;
		margin-top: 20px;
	}

	h2{
		font-size: 1.5rem;
		margin-top: 15px;
		span{
			font-weight: 400;
		}
	}
	
	h3{
		margin-bottom: 1em;
	}

	.section{
		color: $purple;
	}

	#principles{
		@include purpleGradient();
		color: white;
	}
	
	.principle-head{
		font-size: 1.5rem;
		svg{
		color: $yellow;
		}
	}

	#intro{
		height: 100vh;
		position: relative;
	}

	#map-section{
		background-image: url( '/wp-content/themes/nonviolence-now/dist/assets/victory-map-full.png');
		height: 40vh;
	}


	.image-section{
		 background-position: center; /* Center the image */
 		 background-repeat: no-repeat;
		 color: white;
		 padding: 10px;
		 padding: 1.5rem 15px 1.5rem 15px;
	}

	#ending{
	}
	
	#actioncall{

		@include yellowGradient();
		color: $purple;	
		height: 60vh;
	}
	
	.underline{
		text-decoration: underline;
		text-decoration-color: $yellow;
	}

</style>
