<template>
<div class="page">
<transition name="fade" mode="out-in">
  <b-container :key="$route.path" class="bv-example-row pt-4">
	  <b-row class="justify-content-md-center">
		<b-col class="col-lg-9">
	<template v-if="allPagesLoaded">
	  <h1 class="page-title">{{ pageContent.title.rendered }}</h1>
	  <div class="page-content" v-html="pageContent.content.rendered"></div>
	</template>
		</b-col>
	</b-row>
  </b-container>
</transition>
</div>
</template>

<script>
import Loader from '../partials/Loader.vue';
import { mapGetters } from 'vuex';

export default {
  computed: {
    ...mapGetters({
      page: 'page',
      allPagesLoaded: 'allPagesLoaded'
    }),

    pageContent() {
      return this.page(this.$route.params.pageSlug)
    }
  },

  components: {
    Loader
  }
}
</script>

<style lang="scss">

	.page-content a{ text-decoration: underline;
		color: white;
	}
	

	.page-contenta:hover{
		color: white;
	}
	
	.page{
		padding-top: 75px;
	}
</style>

