<template>
  <div class="page">
	<transition name="fade" mode="out-in">
  <b-container :key="$route.path" class="bv-example-row pt-4">
	  <b-row class="justify-content-md-center">
		<b-col class="col-lg-9">
  	<div v-if="!formSubmit">
    <template v-if="allPagesLoaded">
      <h1 class="page-title">{{ pageContent.title.rendered }}</h1>
      <div v-html="pageContent.content.rendered"></div>
    </template>
<b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group id="exampleInputGroup1"
                    label="Email address:"
                    label-for="exampleInput1">

        <b-form-input id="exampleInput1"
                      type="email"
                      v-model="form.email"
                      required
                      placeholder="Enter your email">
        </b-form-input>
      </b-form-group>
      <b-form-group id="exampleInputGroup2"
                    label="Location"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="text"
                      v-model="form.location"
                      required
                      placeholder="Enter the location of the nonviolent action">
        </b-form-input>
      </b-form-group>
      
		<b-form-group id="exampleInputGroup2"
                    label="Date"
                    label-for="exampleInput2">
        <b-form-input id="exampleInput2"
                      type="text"
                      v-model="form.date"
                      placeholder="Enter the date of the action">
        </b-form-input>
      </b-form-group>

      <b-form-group id="exampleInputGroup3"
                    label="Description"
                    label-for="exampleInput3">

	  <b-form-textarea id="textarea1"
                     placeholder="Describe the nonviolent action that took place"
                     :rows="3"
                     :max-rows="6"
					 required
					 v-model="form.description">
      </b-form-textarea>

      </b-form-group>
      <b-form-group id="exampleGroup4">
      </b-form-group>
      <b-button type="submit" variant="warning">Share</b-button>
    </b-form>
	</div>
	<div key="thanks" v-else>
      <h1 class="page-title">Thank You</h1>
      <div><p>We have received your submission. We will notify you when your story is displayed on the map.</p></div>
      <b-button v-on:click="resetForm" variant="warning">&lt; Return</b-button>
	</div>
	</b-col>
	</b-row>
  </b-container>
	</transition>
  </div>
</template>

<script>
import api from '../../api';
import Loader from '../partials/Loader.vue';
import { mapGetters } from 'vuex';

export default {

  computed: {
    ...mapGetters({
      page: 'page',
      allPagesLoaded: 'allPagesLoaded'
    }),

    pageContent() {
      return this.page("share-your-story")
    }
  },

  data () {
    return {
      form: {
        email: '',
        location: '',
        description: null,
		date: '',
      },
      show: true,
	  formSubmit: false,
    }
  },

  methods: {
    onSubmit (evt) {
      evt.preventDefault();
	  api.submitStory(this.form);
	  this.formSubmit = true;
	  event.target.reset();
    },

	resetForm () {
	  this.formSubmit = false;
	},

    onReset (evt) {
      evt.preventDefault();
      /* Reset our form values */
      this.form.email = '';
      this.form.location = '';
      this.form.description = null;
      /* Trick to reset/clear native browser form validation state */
      this.show = false;
      this.$nextTick(() => { this.show = true });
    }
  }
}
</script>

<style lang="scss">

	.page-title{
		margin-top: 30px;
	}

.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
