<template>
  <div id="my-app" class="page-wrapper">

    <app-header v-bind:glSupported="mapboxSupported"></app-header> 

      <div class="page-content-wrapper">
		<transition name="fade" mode="out-in">
        	<router-view v-bind:glSupported="mapboxSupported"></router-view>
    	</transition>

      </div>


	<!--div class="splash-page" v-if="!mapboxSupported">
  		<b-container class="bv-example-row pt-4">
	  		<b-row class="justify-content-md-center">
			<b-col class="col-lg-9">
				<div id="welcome-wagon">
    				<h1> Browser Update Required. </h1>
						<p>
							Nonviolence Now reqires the latest browser version to display its map. Please update and check back.
						</p>
				</div>
			</b-col>
	  		</b-row>
		</b-container>
	</div-->

    <app-footer></app-footer>

  </div>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'
import Header from './components/partials/Header'
import Footer from './components/partials/Footer'
import mapboxgl from 'mapbox-gl'

export default {
  components: {
    appHeader: Header,
    appFooter: Footer
  },

  computed: {
    key() {
      return String(this.$route)
    }
  },

  data() {return {
	mapboxSupported: true,
  }},

  mounted(){

	 if (!mapboxgl.supported()) {
	 	this.mapboxSupported = false;
	 }
  }
}
</script>
<style lang="scss">

@import './styles/app.scss';
	
</style>
